body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    font-family: "Montserrat", sans-serif;
}

.headers {
    display: flex;
    color: rgb(1, 1, 0);
    text-align: center;
    padding: 15px;
}

div {
    display: flex;
    flex-direction: column;
}

.container{
    margin: 1%;
    text-align: center;
}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    color: white;
    background-color: black;
}

.logo{
    width: 12rem;
}


.nav ul{
    display: flex;
    list-style: none;
    align-items: center;
    padding: 2%;
    margin: 0;
    gap: 1rem;
}

.nav a{
    display: flex;
    text-decoration: none;
    align-items: center;
    padding: 10px;
    color: white;
}

.nav-link:hover{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10%; 
    background-color: #2D2E2F;
    
}

.pet-container {
    display: flex;
    align-self: center;
    border-style: solid;
    border-color: black;
    border-radius: 10px;
    width: 50rem;
    padding: 15rem;
    margin: 30px;
}

.challenges-box {
    background-color: black;
    color: white;
    border-radius: 10px;
    padding: 1rem;
    margin: 20px auto;
    width: 50rem;
    text-align: center;
}


.footer{
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 2rem;
    color: white;
    background-color: black;
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding:10px;
}

.footer a:hover {
    color: #fdb515;
}

.footer ul{
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: center;
    margin: 0;
    gap: 1rem;
}

.footer a{
    display: flex;
    text-decoration: none;
    align-items: center;
    padding: 0.25rem;
    color: white;
}
